* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

input {
    padding: 30px;
    border-radius: 8px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 30px;
}

button {
    background-color: #283B49;
    border: 1px dotted #CCC;
    color: #FFF;
    font-size: 30px;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
}

section {
    border-radius: 20px;
    min-height: 80vh;
    width: 50vw;
    background-color: #283B49;
    margin-bottom: 30px;
}

ol {
    min-height: 80vh;
    width: 40vw;
    padding-left: 5vw;
    font-size: 30px;
    color: #FFF;
}

li {
    padding: 10px;
    
}

